    #desc {
        text-align:center;
        background-color: lightgrey;
        margin: auto;
        height: 19%;
        width: 17%;
        border: 1px solid black;

    }

    #avis {
        height: 100px;
        width: 100px;

    }
    
    #bnv {
        text-align: center;
        padding-bottom: 2%;
    }

    #cap {
        text-decoration:wavy;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    #tips {
        text-align: center;
        padding: 10%;
    }

    #info {
        background-color: lightgrey;
        margin: auto;
        width: 11%;
        border: 1px solid black;
    }

    form {
        background-color: lightgrey;
        border: 1px solid black;
        width: 50%;
        margin: auto;
        padding: 1%;
    }

    .bt_log {
        position: relative;
        background-color: #6495ed;
        border: none;
        padding: 20px;
        width: 200px;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
    }
    
    .bt_log:hover{
       background:#fff;
       box-shadow:0px 2px 10px 5px #97B1BF;
       color:#000;
    }
    
    .bt_log:after {
        content: "";
        background: #f1c40f;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }
    
    .button-three:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }


    body {
        font-family: "Trebuchet MS";
    }
    .menu {
        display: flex;                /* Transformation en flexbox */
        padding:0;
        color: red;                    /* Suppression des marges internes */
        background-color: #ccc;       /* Ajout de la couleur d'arrière-plan */
        justify-content: space-around;/* Alignements des liens dans le menu */
    }
    .menu li {
        list-style-type: none ;       /* Suppression des puces */
      
    }
    .menu a {
        display:block;                /* Transformation en block */
        min-width: 120px;             /* Largeur minimale des liens */   
        
        margin: 0.5rem;               /* Marges externes */
        padding: 0.4rem 0;            /* Marges internes */
        text-align: center;           /* Centrage du texte */   
        background-color: #6495ed;    /* Arrière-plan */
        color: #fff;                  /* Couleur du texte */
        text-decoration: none;        /* Suppression du soulignement */
        border: 1px solid #fff;       /* Ajout d'une bordure */
        border-radius: 4px;           /* Arrondis des bordures */
        
        transition: all 1s ;          /* Ajout des effets de transition */
    }
    .menu a.actif {    
        background-color: #6495ed ; 
        color: #ffffff ;
        border-color: #ffffff ;
    }
    .menu a:hover,
    .menu a:hover.actif{
        background-color: whitesmoke;
        color: black;
        border-color: black;
    }


    #container{
        width:400px;
        margin:0 auto;
        margin-top:10%;
    }
    
    .login {
        width:100%;
        padding: 30px;
        border: 1px solid #f1f1f1;
        background: #fff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    
    
    #container h1{
        width: 38%;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    
    
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    
    input[type=submit] {
        background-color: #6495ed;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    input[type=submit]:hover {
        background-color: white;
        color: #6495ed;
        border: 1px solid #6495ed;
    }
    

    table {
        margin: auto;
        border: medium solid #6495ed;
        border-collapse: collapse;
        width: 50%;
        }
        th {
        font-family: monospace;
        border: thin solid #6495ed;
        width: 50%;
        padding: 5px;
        background-color: #D0E3FA;
        background-image: url(sky.jpg);
        }
        td {
        font-family: sans-serif;
        border: thin solid #6495ed;
        width: 50%;
        padding: 5px;
        text-align: center;
        background-color: #ffffff;
        }
        caption {
        font-family: sans-serif;
        }

        img {
            width : 12px;
            height : 12px;
            margin: 2px;
            }

        #banniere {
            width: 80%;
            height: 100%;
            margin: auto;
        }